<form th:fragment="buscar(action, listaEstados)" class="form-inline container" action="#" th:action="${action}" role="form">
    <div class="row">
        <div class="col-5">
            <input type="text" class="form-control" placeholder="Puesto" aria-label="Puesto" name="q">
        </div>
        <div class="col-5">
            <input type="text" class="form-control" placeholder="Estado" aria-label="Estado" name="e">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Buscar vacantes</button>
        </div>
    </div>
</form>