.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
    color: #1c1918;
    text-align: left;
}

.card {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card h4 {
    font-weight: 600;
}

.texto{
    background: gold;
    width: 100%;
    max-width: 150px;
}

.btn-options:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.dropdown-menu {
    width: auto !important;
    height: auto !important;
    white-space: nowrap;
}